{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unnecessary-condition": "off"
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./packages/model/tsconfig.json",
      "./packages/module/tsconfig.json",
      "./packages/utils/tsconfig.json",
      "./packages/rest/tsconfig.json",
      "./packages/graphql/tsconfig.json",
      "./packages/aws-sqs/tsconfig.json",
      "./packages/aws-lmabda-sqs/tsconfig.json",
      "./packages/cron/tsconfig.json",
      "./packages/example/tsconfig.json"
    ]
  },
  "ignorePatterns": []
}
