/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-size-base: 16px;
  --ifm-color-primary: #225095;
  --ifm-color-primary-dark: #225095;
  --ifm-color-primary-darker: #225095;
  --ifm-color-primary-darkest: #225095;
  --ifm-color-primary-light: #4066ae;
  --ifm-color-primary-lighter: #5175be;
  --ifm-color-primary-lightest: #728fcd;
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-height: 4.75rem;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-color: #ffffff;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #ffffff;
  --ifm-footer-background-color: var(--ifm-color-primary);
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-footer-link-hover-color: #ffffff;
  --ifm-font-color-base-inverse: #ffffff;
  --ifm-table-of-contents-color-active: var(--ifm-color-primary);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #225095;
  --ifm-color-primary-dark: #225095;
  --ifm-color-primary-darker: #225095;
  --ifm-color-primary-darkest: #225095;
  --ifm-color-primary-light: #4066ae;
  --ifm-color-primary-lighter: #5175be;
  --ifm-color-primary-lightest: #728fcd;
  --ifm-link-color: var(--ifm-color-primary-lightest);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-menu-color-active: var(--ifm-color-primary-lightest);
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-lightest);
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  --ifm-breadcrumb-item-background-active: rgba(255, 255, 255, 0.1);
  --ifm-table-of-contents-color-active: var(--ifm-color-primary-lightest);
}

.markdown h1:first-child {
  font-size: 2.5rem;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  color: var(--ifm-table-of-contents-color-active);
}

.toggleButton_------node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module:hover {
  background: #ffffff !important;
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 500px) {
  .navbar-sidebar .navbar__logo {
    height: 25px;
  }
}

a {
  font-weight: 600;
}

.menu__list {
  font-size: 15px;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.menu__list .menu__list .menu__link {
  line-height: 1;
  padding-top: 6px;
  padding-bottom: 6px;
}
